* {
  margin: 0;
  padding: 0;
}

.Navbar{
  display:  flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  flex: 1 1;
}

.navbar_links {
  display: flex;
  gap: 2rem;
}

.link {
  color: black;
  text-decoration: none;
  background-color: 'red';
  font-weight: bold;
}

.link:hover{
  color:black
}

.logo {
  font-weight: 800;
  font-size: 1.5rem;
}

.Homepage {
  background-image: url('./assets/image\ 53.png');
  background-repeat: no-repeat;
  background-size:cover;
 min-height: 500px;
 color: white;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 padding: 2rem;
 
}

.home-container {
  max-width: 800px;
  display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 padding: 2rem;
 gap:2rem;
}

.Homepage h1 {
  font-size: 4rem;
}
.Homepage p {
  font-size: 1.4rem;
}

.Btn {
  width: 100%;
  padding: 15px ;
  outline: none;
  border: none;
  cursor: pointer;
  background: #FF8C38;
  font-weight: bold;
  font-size: 1.2rem;
}

.Btn a {
  color: white;
}

.footer {
  background-color: #252525;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.about_page {
 max-width: 90%;
 margin: auto;


}

.about-img {
  width: 100%;
  height: auto;
  max-width: 900px;
  margin: auto;
}

.about-img-div{
  display:flex;
}

.about_details {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about_details h1 {
  font-size: 3rem;
}
.about_details p {
  font-size: 1.2rem;
}

.explore_our_vans_card {
  background: #FFCC8D;
  padding:2rem;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}

.explore_our_vans_card  p{
 font-size: 3rem;
 font-weight: bold;
  
}
.explore_our_vans_card button{
  background: #161616;
  padding: 1rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  width: max-content;
  border: none;
  border-radius: 10px;

}

